{% extends "layout.html" %}
{% block body %}
<p>Welcome to the homepage of our COVID-19 Visualizations. The visuals you see displayed are the result of data transformation, storage and manipulation. The data is presented using JavaScript, Leaflet and Plot.ly. Our data was downloaded from the official Ontario website and stored in an SQL database. Below are links to out data and other helpful COVID-19 Resources: </p>
<hr>
<a href="https://www.publichealthontario.ca/">Ontario Public Health</a>
<br>

<a href="https://data.ontario.ca/dataset?q=covid-19">Link to COVID-19 Datasets</a>

{% endblock %}